@import "config";
@import "buttons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  font-size: 1.1rem;
  line-height: 1.6;
  background-color: $white-color;
  color: $dark-color;
  overflow-x: hidden;
  height: 100vh;
}

nav {
  display: none;
}

#header {
  color: white;
  background: $primary-color;
  text-align: center;
  margin: 1.5rem 0;
  .header-right {
    &-top {
      padding: 1.5rem 0;
      font-size: 1rem;
      font-weight: 300;
    }
    &-middle {
      padding: 1.5rem 0;
      font-size: 3rem;
      font-weight: 600;
      text-shadow: 2px 2px 4px $dark-color;
    }
    &-bottom {
      padding: 2.5rem 0;
      a {
        text-decoration: none;
        color: white;
        border: 1px solid white;
        border-radius: 0;
        padding: 1rem 1.5rem;
        &:hover {
          color: $primary-color;
          background: white;
          border: 1px solid $primary-color;
        }
      }
    }
  }
  .header-left {
    display: none;
  }
}

#yearsOf {
  text-align: center;
  margin: 1.5rem 0;
  .sectionBgImg {
    width: 100%;
    height: 200px;
    background-image: url(/img/branding.jpeg);
    background-color: white;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .text {
    h1 {
      color: $primary-color;
      font-size: 3rem;
      font-weight: 300;
    }
    h4 {
      color: $primary-color;
      font-size: 2.5rem;
      font-weight: 300;
    }
    p {
      font-size: 1.5rem;
      font-weight: 300;
      margin-top: 1.5rem;
      color: $dark-color;
    }
  }
}

#jobs,
#certificates,
#education {
  .sectionTitle {
    background-color: $primary-color;
    width: 100%;
    height: 250px;
    line-height: 250px;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    margin-top: 1.5rem;
    i,
    h1 {
      line-height: 1.5;
      display: inline-block;
      vertical-align: middle;
      text-shadow: 2px 2px 4px $dark-color;
    }
  }
  .text {
    justify-content: center;
    text-align: center;
    color: $dark-color;
    .thick {
      font-size: 1.5rem;
      font-weight: 400;
      margin-top: 1.5rem;
    }
    .thin {
      margin: 0.5rem auto;
      font-size: 1.3rem;
      font-weight: 200;
      width: max-content;
      border-bottom: solid $primary-color 1px;
    }
    .midSize,
    .exception {
      margin: 0.5rem auto;
      font-size: 1.3rem;
      font-weight: 300;
    }
  }
}

#certificates {
  .thick {
    word-wrap: normal;
    margin: 1.5rem auto;
    width: max-content;
    border-bottom: solid $primary-color 1px;
  }
}

@import "largscreen";
